 #player-total-score, #randomNum, .main-col {
    border:orange 5px solid;
}

#randomNum {
    text-align:center;

}


body {
    background-color:lightseagreen;
    color:white;
    font-family:fantasy;
}

.main-col, #randomNum, #player-total-score, #player-currentNum, #wins, #losses {
    background-color:lightcoral;
}

header {
    height:75px;
}

.jumbotron {
    margin: 0 auto;
    padding-top: 20px;
    background-color:lightseagreen;
    text-align:center;
    height:130px;
}

.fortuneimg {
    float:right;
    position:absolute;
    margin-left:600px;
    margin-top: -400px;
    border: orange 5px solid;
}

.currentNum {
    border: solid 5px orange;
    background-color:lightcoral;
    text-align:center;
}

.wins, .losses {
    background-color:lightcoral;
    border: solid 5px orange;
    text-align:center;
}