 #wins, #losses, #player-total-score, #player-currentNum, #randomNum, .main-col {
    border:orange 5px solid;
}


body {
    background-color:lightseagreen;
    color:white;
    font-family:fantasy;
}

.main-col, #randomNum, #player-total-score, #player-currentNum, #wins, #losses {
    background-color:lightcoral;
}

header {
    height:75px;
}

.title {
    margin: 0 auto;
    padding-top: 20px;
}